@import '../index.scss';

.conveyor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  &.hidden {
    display: none;
  }
  & > * + * {
    margin-left: 2rem;
  }
  & > .conveyor-content {
    border: 1px solid #dddddd;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    & > * + .card {
      margin-left: 1rem;
    }
    & > .conveyor-title {
      position: absolute;
      left: -6rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  & > .conveyor-refresh {
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 5px 0 #bbbbbb;
    border-radius: 3rem;
    cursor: pointer;
    &:hover {
      box-shadow: 0 2px 15px 0 #bbbbbb;
    }
    .refresh {
      font-weight: bold;
      font-size: 1.5rem;
      color: $colorGreen;
      &.zero {
        color: $colorRed;
      }
    }
  }
}
