.pause-info {
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  color: gray;
  font-weight: bold;
  animation-duration: 3s;
  animation-name: pause-anim;
  animation-iteration-count: infinite;
}

@keyframes pause-anim {
  0% {
    color: #ff3d3d;
  }
  16% {
    color: #f88a33;
  }
  32% {
    color: #f0ec29;
  }
  48% {
    color: #39ff30;
  }
  64% {
    color: #36ffd6;
  }
  83% {
    color: #2e50ff;
  }
  100% {
    color: #d233ff;
  }
}
