.pause-info {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  color: gray;
  font-weight: bold;
  animation-duration: 3s;
  animation-name: pause-anim;
  animation-iteration-count: infinite;
}

@keyframes pause-anim {
  0% {
    color: darken(#ff3d3d, 10%);
  }
  16% {
    color: darken(#f88a33, 10%);
  }
  32% {
    color: darken(#f0ec29, 10%);
  }
  48% {
    color: darken(#39ff30, 10%);
  }
  64% {
    color: darken(#36ffd6, 10%);
  }
  83% {
    color: darken(#2e50ff, 10%);
  }
  100% {
    color: darken(#d233ff, 10%);
  }
}
