.bundle-detail {
  position: absolute;
  z-index: 1;
  bottom: 9rem;
  left: 0;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 #bbbbbb;
  border: 1px solid #bbbbbb;
  padding: 0.5rem;
  display: none;
  &.show {
    display: flex;
  }
  & > .card + .card {
    margin-left: 1rem;
  }
}
