.request-queue {
  display: flex;
  align-items: center;
  justify-content: center;
  & > div + div {
    margin-left: 3rem;
  }
}

.request-card {
  width: 26rem;
  height: 12rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 #bbbbbb;
  position: relative;
  .header {
    padding: 0 2rem;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    .pending {
      color: #bbbbbb;
    }
    .loading {
      color: #ffff00;
    }
    .error {
      color: #ff0000;
    }
    .success {
      color: #00ff00;
    }
  }
  .content {
    padding: 2rem 2rem 3rem 2rem;
  }
  &.last {
    transform: scale(0.8, 0.8);
  }
  &.current {

  }
  &.next {
    transform: scale(0.8, 0.8);
  }
  .req-row, .res-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & > .hide {
      display: none;
    }
  }
  .res-row {
    margin-top: 1rem;
  }
  .current-timer {
    position: absolute;
    bottom: 0;
    height: 1rem;
    border-bottom-left-radius: 10px;
    &.green {
      background: forestgreen;
    }
    &.yellow {
      background: gold;
    }
    &.red {
      background: red;
    }
  }
}