.store {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 26rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 10px 0 #bbbbbb;
  background-color: #ffffff;
  transition: all 0.5s;
  &.hide {
    transform: translateY(-100%);
  }
  & > .header {
    font-weight: bold;
    border-bottom: 1px solid #bbbbbb;
  }
}

.store-row {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  & > .row-header {
    width: 12rem;
    & > .row-name {
      font-weight: bold;
    }
    & > .row-desc {
      margin-top: 0.5rem;
      font-style: italic;
    }
  }
  & + .store-row {
    border-top: 1px solid #bbbbbb;
  }
}