.card {
  width: 8rem;
  height: 4rem;
  display: inline-block;
  line-height: 4rem;
  text-align: center;
  opacity: 1;
  box-shadow: 0 2px 5px 0 #bbbbbb;
  border: 1px solid #bbbbbb;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
  &.deal {
    transform: translate(0, -3rem);
    opacity: 0;
  }
  &.init {
    transform: translate(0, 3rem);
    opacity: 0;
  }
}

.card-404 {
  text-align: center;
  & > .card {
    width: 15rem;
    margin-top: 1rem;
    transform: translate(0, 0);
  }
}
