.card {
  width: 8rem;
  height: 4rem;
  display: inline-block;
  line-height: 4rem;
  text-align: center;
  box-shadow: 0 2px 5px 0 #bbbbbb;
  cursor: pointer;
  border-radius: 10px;
  transition: all 1s;
  &.deal {
    transform: translate(0, -3rem);
    opacity: 0;
  }
}

.card-404 {
  text-align: center;
  & > .card {
    width: 10rem;
    margin-top: 3rem;
  }
}
