$colorRed: #df1e1e;
$colorGreen: #00d358;
$colorGray: #bbbbbb;
$colorBlue: #0084ff;
$colorGold: rgb(255, 215, 0);

* {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  user-select: none;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  color: #666666;
}
html {
  font-size: 1vw;
}
.like {
  display: inline-block;
  & > img {
    width: 2rem;
  }
}
.turn-result {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  position: fixed;
  top: 11rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out;
  background: #ffffff;
  font-size: 2rem;
  &.fail {
    border: 1rem solid $colorRed;
    box-shadow: 0 0 0.5rem 0.5rem $colorRed;
  }
  &.success {
    border: 1rem solid $colorGreen;
    box-shadow: 0 0 0.5rem 0.5rem $colorGreen;
  }
  &.big-success {
    border: 1rem solid $colorGreen;
    box-shadow: 0 0 1rem 1rem $colorGold;
  }
  &.animate {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
}

.splash-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100vw;
  height: 100vh;
  .dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    text-align: center;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    color: #666666;
    &.start {
      ul {
        text-align: left;
      }
      border: 2rem solid $colorBlue;
      background-color: lighten($colorBlue, 40%);
      strong {
        color: darken($colorBlue, 10%);
      }
    }
    &.win {
      border: 2rem solid $colorGreen;
      background-color: lighten($colorGreen, 50%);
      strong {
        color: $colorGreen;
      }
    }
    h3 {
      font-size: 3rem;
      margin: 0;
    }
    section {
      font-size: 1.5rem;
    }
  }
}